@font-face {
  font-family: mineCraft;
  src: url(/assets/fonts/Minecraft.ttf) format("truetype");
}

@font-face {
  font-family: mineCraft-bold;
  src: url(/assets/fonts/Minecrafter.Reg.ttf) format("truetype");
}


  