.demo{
    text-align: left;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
    background-color: blanchedalmond;
    background-image: url("/assets/images/5555.png");
   
  }
  h1{
    font-size: 4vw;
    font-family: mineCraft-bold;
    padding-left: 0.5em
  }
  h2{
    font-size: 3vw;
    padding-left: 0.5em
   
  }
  .demoText{
    font-size: 2vw;
    text-align: center;
   margin: 1vw;
    display: flex;
    align-items: center;
    padding-left: 1em;
    
  }
  
  .toTheGame{
    width: max-content;
    height: max-content ; 
    align-self: center;
    font-size: 2vw;
    font-family: mineCraft-bold;
    padding: 0.5vw;
    background-color: unset;
    border: 3px white solid;
  }
  .toTheGame:hover{
      background-color: thistle;
      border:none
  }
  .demobtn{
      display: flex;
      align-items: center;
      justify-content:center;
      
    
  }
  .demo_list{
      font-weight: bold ;
      margin-left: 1vw;
  }