body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mineCraft;
    letter-spacing: 0.1rem;
    text-align: center;

}
.gameContainer{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

  /*----------start page ----------------------*/
  .startPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-image: url('/assets/images/dirt.png');
    position: absolute;
    top:0;
    left: 0;
    visibility: visible;
   
    
  }
  .logo{
    background-image: url('/assets/images/logo.png');
    width:80%;
    height: 30%;
    margin-bottom: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
  
  }
  .startButton{
     width :max-content;
    height: max-content; 
    font-size: 2rem;
    font-family: mineCraft-bold;
    letter-spacing: 0.5em;
    background-color: white;
    border: 2px solid black;
    padding: 1rem;
    
 }
  /*---------- game board ----------------------*/
  .gameBoardBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:	#DCDCDC;
    visibility:hidden;
    position: relative;
   
   }

  .gameBoard{
     width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    
}

.backgroundImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.margin0padding{
    padding: 0;
    margin: 0;
}
.left_side{
height: 100%;
width: 90%;
}
/*---------demo ---------------------------*/
